<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Calendar</h1>
<p class="mb-4">Full Calendar is a third party plugin that is used to generate the calendars in this theme. The calendar below have been customized - for further customization options, please visit the <a target="_blank" href="https://fullcalendar.io/docs/angular">official Full Calendar documentation</a>.</p>

<app-card-basic [title]="'Calendar'" [description]="''">
    <full-calendar [options]="calendarOptions"></full-calendar>
</app-card-basic>
    