<div class="row mb-2">
    <div class="col-md-6">
        <app-button-dropdown
        [text]="'Rows to Show'"
        [actions]="actions"
        [color]="'light'"
        (actionClick)="limitData($event)"
        ></app-button-dropdown>
    </div>
    <div class="col-md-6 text-right">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="search" name="search" (keyup)="filterTable()">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="filterTable()">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive mb-2">    
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th *ngFor="let head of headers" [class.invisible]="!head.visible" (click)="setOrder(head.key)">
                    <span class="text-right">
                        <i *ngIf="head.sortable" class="fas" [ngClass]="{'fa-sort text-gray':head.order=='', 'fa-sort-up':head.order=='asc', 'fa-sort-down':head.order=='desc'}"></i>
                    </span>
                    <span class="text-left"> {{head.title}} </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableData">
                <td *ngFor="let head of headers">{{data[head.key]}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th *ngFor="let head of headers" [class.invisible]="!head.visible" (click)="setOrder(head.key)">
                    <span class="text-right">
                        <i *ngIf="head.sortable" class="fas" [ngClass]="{'fa-sort text-gray':head.order=='', 'fa-sort-up':head.order=='asc', 'fa-sort-down':head.order=='desc'}"></i>
                    </span>
                    <span class="text-left">{{head.title}} </span>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row">
    <div class="col-md-6">
        Showing {{rows}} of {{total}} rows
    </div>
    <div class="col-md-6">
        <app-pagination></app-pagination>
    </div>
</div>
