<div class="row mb-2">
    <div class="col-md-6">
        <app-button-dropdown
        [text]="'Rows to Show: '+rows"
        [actions]="actions"
        [color]="'light'"
        (actionClick)="limitData($event)"
        ></app-button-dropdown>
    </div>
    <div class="col-md-6 text-right">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="search" name="search" (keyup)="filterTable()">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="filterTable()">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive mb-2">    
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th *ngFor="let head of headers" [class.d-none]="!head.visible" (click)="setOrder(head.key)" class="pointer">
                    <div class="d-flex justify-content-between">
                        <span class="text-left"> {{head.title}} </span>
                        <span class="text-right">
                            <i *ngIf="head.sortable" class="fas" [ngClass]="{'fa-sort text-gray':head.order=='', 'fa-sort-up':head.order=='asc', 'fa-sort-down':head.order=='desc'}"></i>
                        </span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableData">
                <td *ngFor="let head of headers" [class.d-none]="!head.visible">
                    <span *ngIf="head.key != 'actions'">{{data[head.key]}}</span>
                    <span *ngIf="head.key == 'actions' && head.visible" class="d-flex justify-content-between">
                        <span *ngFor="let option of  head.options">
                            <span *ngIf="option=='view'" [attr.title]="option.toUpperCase()">
                                <app-button-circle [icon]="'fas fa-eye'" [color]="'btn-success'" [size]="'btn-sm'"></app-button-circle>
                            </span>
                            <span *ngIf="option=='edit'" [attr.title]="option.toUpperCase()">
                                <app-button-circle [icon]="'fas fa-edit'" [color]="'btn-primary'" [size]="'btn-sm'"></app-button-circle>
                            </span>
                            <span *ngIf="option=='delete'" [attr.title]="option.toUpperCase()">
                                <app-button-circle [icon]="'fas fa-trash'" [color]="'btn-danger'" [size]="'btn-sm'"></app-button-circle>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th *ngFor="let head of headers" [class.d-none]="!head.visible" (click)="setOrder(head.key)" class="pointer">
                    <div class="d-flex justify-content-between">
                        <span class="text-left"> {{head.title}} </span>
                        <span class="text-right">
                            <i *ngIf="head.sortable" class="fas" [ngClass]="{'fa-sort text-gray':head.order=='', 'fa-sort-up':head.order=='asc', 'fa-sort-down':head.order=='desc'}"></i>
                        </span>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row">
    <div class="col-md-6">
        Showing {{rows}} of {{total}} rows
    </div>
    <div class="col-md-6">
        <app-pagination (onChange)="changePage($event)" [total]="pages"></app-pagination>
    </div>
</div>
