<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Practicar Matemáticas</h1>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 link" routerLink="aritmetica/suma">
        <app-card-border-left
        [color]="'success'"
        [text]="'SUMA'"
        [icon]="'fas fa-plus'"
        [currency]="' 1 + 1 = 2'"
        ></app-card-border-left>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 link" routerLink="aritmetica/resta">
        <app-card-border-left
        [color]="'danger'"
        [text]="'RESTA'"
        [icon]="'fas fa-minus'"
        [currency]="' 5 - 1 = 4'"
        ></app-card-border-left>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 link" routerLink="aritmetica/multiplicacion">
        <app-card-border-left
        [color]="'primary'"
        [text]="'MITIPLICACIÓN'"
        [icon]="'fas fa-times'"
        [currency]="' 2 x 3 = 6'"
        ></app-card-border-left>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4 link" routerLink="aritmetica/division">
        <app-card-border-left
        [color]="'primary'"
        [text]="'DIVISIÓN'"
        [icon]="'fas fa-divide'"
        [currency]="' 9 / 3 = 3'"
        ></app-card-border-left>
    </div>
</div>