<!-- Tasks Card Example -->
<div class="card {{border}}-{{color}} shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-{{color}} text-uppercase mb-1">{{text}}
                </div>
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{percentage}}</div>
                    </div>
                    <div class="col">
                        <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-{{color}}" role="progressbar"
                                [style.width]="percentage" [attr.aria-valuenow]="width" [attr.aria-valuemin]="min"
                                [attr.aria-valuemax]="min"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <i class="fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>